.col-3 .list-group {
  border-radius: 0;
  overflow: scroll;
  overflow-x: visible;
  height: 29.96rem;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.42);
}

.card {
  border-radius: 0 !important;
  margin-bottom: 1rem;
}

.col-3 .list-group li {
  transition: .2s ease-in-out;
  cursor: pointer;
  border: 0;
}

.list-group-item.active {
  color: #ffffff;
  padding-left: 2rem;
  background-color: #ffffff !important;
  background: linear-gradient(141deg, #000000 0%, rgba(255, 255, 255, 1) 80%);
}

.col-3 .list-group li:hover {
  padding-left: 2rem;
  border: 0;
}

.card .card-header h5 {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 1rem 2rem;
}

.background {
  transition: .5s ease-in-out;
  padding-left: 2rem;
  color: #ffffff !important;
  background: linear-gradient(141deg, #000000 0%, rgba(255, 255, 255, 1) 80%);
}